html {
  font-size: 16px;

  @include mq-min-width(1800) {
    font-size: 16px * 1.15;
  }
}

.container {
  padding-left: pxToRem(107);
  padding-right: pxToRem(107);
  margin-left: auto;
  margin-right: auto;
  max-width: pxToRem(1440);

  @include mq-laptop {
    padding-left: pxToRem(70);
    padding-right: pxToRem(70);
  }

  @include mq-tablet {
    padding-left: pxToRem(16);
    padding-right: pxToRem(16);
  }
}