@mixin add-font ($family, $weight, $style, $file-name) {
    @font-face {
        font-family: $family;
        src: url(../fonts/#{$file-name}.woff2) format("woff2"), url(../fonts/#{$file-name}.woff) format("woff");
        font-weight: $weight;
        font-style: $style;
    }
}

$font: 'AvenirNextLTPro';
$font__primary: 'AvenirNextLTPro', Helvetica, sans-serif;

$fonts: 
  $font 700 normal 'AvenirNextLTPro-Bold',
  $font 400 normal 'AvenirNextLTPro-Regular',
  $font 400 italic 'AvenirNextLTPro-It',;

@each $font in $fonts {
  $family: nth($font, 1);
  $weight: nth($font, 2);
  $style: nth($font, 3);
  $file-name: nth($font, 4);
  
  @include add-font ($family, $weight, $style, $file-name);
}
